* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
footer span {
    font-size: .7rem;
}
.navbar-brand {
    background: linear-gradient(to right, #85C2FF 0%, #B0EBFF 100%);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-expand-lg ul li {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 2rem;
}
nav.navbar-dark ul li a.nav-link:hover,
#search:focus-within {
    background-color: rgba(0,0,0,.2) !important;
}
nav::before {
    background-image: url('../assets/img/background-body.jpg');
    background-size: cover;
    -webkit-filter: blur(15px) brightness(0.7);
    filter: blur(15px) brightness(0.7);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.9;
    background-position: 50% 12%;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--claro);
    border-bottom: 1px solid rgba(255,255,255,.6);
}
@media only screen and (max-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .5rem 1.5rem;
        text-align: left;
        background-color: rgba(0,0,0,.4);
    }
}