* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
header.hero h1.display-1 {
    background: linear-gradient(to right, #85C2FF 0%, #B0EBFF 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header.hero img {
    max-width: 90%;
    margin-top: -15px;
}
header.hero ul li {
    display: grid;
    align-content: center;
}
header.hero ul li a.nav-link {
    padding: 1rem 1.3rem;
}
header.hero ul li a.nav-link:hover {
    background-color: rgba(0,0,0,.2);
}
.hero {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.hero::before {
    background-image: url('../../assets/img/background-body.jpg');
    background-size: cover;
    -webkit-filter: blur(15px) brightness(0.7);
    filter: blur(15px) brightness(0.7);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.9;
}
@media only screen and (max-width: 576px) {
    header.hero ul li a.nav-link {
        padding: 1rem .7rem;
        font-size: 1rem;
        letter-spacing: 2px;
    }
        header.hero h1.display-1 {
            font-size: 4rem;
            line-height: 1.3;
            text-align: center;
        }
}